.hero{
    background: #1f2937;
    height: 500px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}
.title{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.subtext,
.link_bar{
    font-size: 18px;
    color: #E5E7EB 
}

img{
    height:150px;
    width: 300px;
    
}
